/* Apply height and reset margin, padding for full coverage */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Apply flex only to the body to manage content layout */
body {
    display: flex;
    flex-direction: column;
}

/* Navbar Styling */
.navbar-brand, .nav-link {
    color: #ffffff !important;
}
.nav-link:hover {
    color: red !important;
    text-decoration: underline !important;
}
.navbar-brand {
    font-weight: bold;
}

/* About Me Section */
.about-me, .aca {
    background-color: bisque;
}
.img-thumbnail {
    max-width: 70%;
    height: auto;
    border: none;
    background-color: bisque;
}

/* Full-width container without padding for section coverage */
.container-fluid {
    padding: 0 !important; /* Removes any extra padding on container-fluid */
    margin: 0; /* Ensures no margin around sections */
}

/* Projects Section */
.projects-section {
    padding: 70px 0;
}
.projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.project {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: calc(50% - 10px); /* Ensures proper width in a responsive flexbox */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}
.project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.project .btn:hover {
    background-color: #f4c430;
    color: #333;
}

/* Contact Section */
.contact-section {
    padding: 60px 0;
    background-color: #f8f9fa;
}

/* Footer Styling */
footer {
    background-color: #ffc107;
    color: black;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

/* Social Links */
.social-links {
    display: flex;
    justify-content: center;
    
}
.social-links a {
    color: #343a40;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    
    transition: color 0.3s ease, transform 0.3s ease;
}
.social-links a i {
    font-size: 24px;
}
.social-links a:hover {
    color: #007bff;
    transform: translateY(-3px);
}
.social-links a:active {
    transform: translateY(1px);
}
